<style>
    #facebooklogin {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px; 
        height: 30px;
        cursor: pointer; 
        opacity: 1; 
        z-index: 10;
        display: block;        
    }
</style>

<div id='facebooklogin'>
    <a
        href="{{ asset('x_Facebook/facebook') }}"
        target="_self">
        <img 
            style='height: 100%; width: 100%;' 
            src='files/images/icons/facebook-login.png' 
            alt='Mountain View'>
    </a>
</div>
        